<% for(var i = 0; i < users.length; i++) { %>


<div class="card " style="background-image: url('<%= users[i].link%>')">
 
  <div class="card-body">
    <div class="buttons">
      <a class="b" id="edit" href="/update_user?id=<%= users[i]._id%>" >
        <i class="fa-solid fa-pen"></i>
      </a>
      <a class="b delete" style="cursor: pointer;" data-id=<%= users[i]._id%> >
        <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
      </a>
    </div>
    <h2 class="card-title"><%= users[i].name%></h2>
    <h3 class="card-auther"><%= users[i].auther%></h3>
    <p class="card-des">
      <%= users[i].description%>
    </p>

    <p class="card-date"><%= users[i].date%></p>
  </div>
</div>



<%}%>
</div>
<a class="add-button" href="./../add_user">
  <i class="fa-solid fa-plus"></i>
</a>